<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Chat!</h1>
            <p>
                <a class="primary btn-primary btn-lg" href="/chats/new">Add New Chat</a>
            </p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Available Chats</h3>
        </div>
    </div>

    <hr>

    <!-- <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% chats.forEach(function(chat) { %>
            <div class="col-md-3 col-sm-6">
                <a href="/chats/<%=chat._id %>" ><%= chat.name %></a>
            </div>
        <% }) %>
    </div> -->

    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Creator</th>
                </tr>
            </thead>
            <tbody>
                <% chats.forEach(function(chat) { %>
                <tr>
                    <td><a href="/chats/<%= chat._id %>"><%= chat.name %></a></td>
                    <td><%= chat.description %></td>
                    <td><%= chat.author.username %></td>
                </tr>
                <% }) %>
                
                <p>
                    <a class="primary btn-primary btn-sm" href="/chats/new">Add New Chat</a>
                </p>
            </tbody>
        </table>
    </div>
</div>





<% include ../partials/footer %>