<% include ../partials/header %>

<div class="container">
    <h1>
        <%= chat.name %>
    </h1>
    
    <p>
        <%= chat.description %>
    </p>
    
    <div class="well">
        <div class="text-middle">
            <a class="btn btn-success" href="/chats/<%= chat._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <% chat.comments.forEach(function(comment) { %>
            <div class="row">
                <div class="column-md-12">
                    <strong><%= comment.author %></strong>
                    <p>
                        <%= comment.text %>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</div>
    
<% include ../partials/footer %>